.product-details {
    width: 100%;
    padding: 60px 5%;
    display: flex;
    justify-content: space-between;
}



.product-images {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 24%;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    /* object-fit:contain; */
    cursor: pointer;
    border: 1px solid black;
}

.product-images img.active {
    opacity: 1;
}

.details {
    width: 50%;
    margin: 0 5%;
}

.details .product-brand {
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des {
    font-size: 20px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price {
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount {
    color: #ff7d7d;
    font-size: 20px;
}

.avail {
    font-size: 20px;
    /* margin-top: 30px; */

}

.avail-value {
    color: rgb(4, 221, 4);
}

.qty {
    line-height: 30px;
}

.quantity {
    height: 40px;
    width: 90px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.product-sub-heading {
    /* font-size: 20px; */
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.size-radio-btn {
    display: inline-block;
    min-width: 70px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    /* border-radius: 50%; */
    /* margin: 10px; */
    margin-left: 0;
    line-height: 40px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
    white-space: nowrap;
}

.size-radio-btn.check {
    background: teal;
    color: #fff;
}

.size {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width:500px; */
    /* height:100px; */
    overflow-x: scroll;
    overflow-y: visible;
    /* overflow:scroll; */
    /* scroll-behavior: smooth; */
    /* width:200px; */
    margin-bottom: 50px;
}

.size::-webkit-scrollbar {
    display: none;
    /* width:300px;    */

}

/* .size::-webkit-scrollbar-button{
    height:100px;
    width:100px;
}
::-webkit-scrollbar-thumb:
::-webkit-scrollbar-track:
::-webkit-scrollbar-track-piece:
::-webkit-scrollbar-corner:
::-webkit-resizer */
.size {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.recommendation {
    display: block;
    height: 20px;
    width: 200px;
    background-color: white;
    color: teal;
    text-align: center;
    border: 2px solid teal;
    border-radius: 10px;
    /* padding:5px; */
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;

}

.btn {
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
}

.cart-btn {
    margin-right: 2%;
    background: teal;
    color: #fff;
}

.detail-des {
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.des {
    color: #383838;
    line-height: 25px;
}
.colorpro{
    width:64px;
}

@media only screen and (max-width:810px) {
    .product-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 8vw;
    }

    .image-slider {
        position: relative;
        width: 90vw;
        height: 70vw;
    }

    .product-images {
        position: absolute;
    bottom: auto;
    left: 56vw;
    transform: translateX(-50%);
    width: 20vw;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15vh;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    height: 100%;
    padding: 10px;
    }

    .product-images img {
        height: 16vw;
    }

    .details {
        width: 100%;
        margin-top: 100px;
    }
}

@media only screen and (max-width:1068px) {
    .btn {
        width: 100%;
    }

}

@media only screen and (max-width:600px) {
    .image-slider {
        width: 70vw;
        height: 90vw;
        position: relative;
    }

    .product-images {
        position: absolute;
        left: 50%;
        top: 94%;
        transform: translateX(-50%);
        width: 100%;
        background: #fff;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 26%;
        grid-gap: 10px;
        padding: 10px;
    }

    .size-radio-btn {
        /* display:block; */
        width: 16%;
        height: 40px;
        font-size: 3vh;
        /* margin: 2%; */
        margin-left: 0;
    }

    .cart-btn,
    .wish-btn {
        display: block;
        width: 90%;
        margin: 20px 5% 10px 5%;
    }

    .product-discount {
        display: block;
    }

}

.form-container {
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 25%;
    width: 50%;
    padding: 1.5rem;
    position: fixed;
    margin: auto;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    visibility: hidden;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgb(93, 93, 93);
    /* backdrop-filter: blur(5px); */

}

.button {
    display: flex;
    width: 90%;
    box-sizing: border-box;
}

.box {
    height: 50px;
    margin: 10px;
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
}

.submit,
.cancel {
    background-color: rgb(46 201 46);
    color: black;
    font-size: 1.5rem;
    width: 48%;
    margin: 0;
    padding: 0;
}

.submit {
    margin-left: 1%;
}

.cancel {
    margin-right: 1%;
    background-color: rgb(243, 107, 107);
}

.submit:hover,
.cancel:hover {
    background-color: black;
    color: white;
}

.result {
    display: none;
    width: 90%;
    background-color: azure;
    text-align: center;
    font-size: x-large;
}

@media only screen and (max-width:573px) {
    .form-container {
        left: 10%;
        right: 10%;
        width: 80%;
    }

    .button {
        flex-direction: column;
    }

    .cancel,
    .submit {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    
}